<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Article</title>
</head>
<body>
  <h1>Add New Article</h1>
  <form action="/articles/new" method="post">
    <label style="font-size: 25px;" for="title">Title:</label>
    <input type="text" name="title" placeholder="Title">
    <br>
    <br>
    <label style="font-size: 25px;" for="desc">Description:</label>
    <input type="text" name="desc" placeholder="Description">
    <br>
    <br>
    <label style="font-size: 25px;" for="markdown">Markdown:</label>
    <input type="text" name="markdown">
    <br>
    <br>
    <button style="background-color: rgb(24, 24, 177); color: white; padding: 0.75rem; border-radius: 0.5rem;" type="submit">Save</button>
  </form>
</body>
</html>