<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medium</title>
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <header>
    <h1>Medium</h1>
    
    <h2>Discover Stories, Articles and Research Work from GLA Students</h2>
  </header>

  

  <form action="/articles/new" method="get">
    <button class="add" type="submit">Add new articles</button>
  </form>

  <% arr.forEach((obj) => { %>
    <div class="articles">
      <div class="title"><%= obj.title %></div>
      <div class="desc"><%= obj.description %></div>
      <div class="buttons">
        <button class="button read-more">Read More</button>
        <form style="display: inline-block;" action="/articles/edit">
          <button type="submit" class="button edit">Edit</button>
        </form>
        <form style="display: inline-block;" action="/" method="delete">
          <button type="submit" class="button delete">Delete</button>
        </form>
      </div>
    </div>
  <% }) %>

  <script src="./javascript/script.js"></script>
</body>
</html>